<html>
    <head>

        <title>Places you've been</title>
    </head>
    <body>
        <h1>Here is the place you just created:</h1>
        <p>{{ newPlace.getCity }}</p>
        <p><img src="{{ newPlace.getPhoto }}" alt=""/></p>
        <p>{{ newPlace.getLandmark }}</p>
        <p>{{ newPlace.getDate }}</p>
        <p><a href="/">View your list of places visited</a></p>

    </body>
</html>
