<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css">
        <title>Places you've been</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h1>List of Places Visited</h1>
                    {% if places is not empty %}
                        <ul class="bullets">
                            {% for place in places %}
                                <li class="city">{{ place.getCity }}</li>
                                <li><img src="{{ place.getPhoto }}" alt=""/></li>
                                <ul>
                                    <li><strong>Landmark: </strong>{{ place.getLandmark }}</li>
                                    <li><strong>Date visited: </strong>{{ place.getDate }}</li>
                                </ul>
                                <hr>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <form action="/places" method="post">
                        <div class="form-group">
                            <label for="city">City Name</label>
                            <input type="text" name="city" id="city" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="photo">Enter a photo URL</label>
                            <input type="text" name="photo" id="photo" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="landmark">City Landmark</label>
                            <input type="text" name="landmark" id="landmark" class="form-control">
                        </div>

                        <div class="form-group">
                            <label for="date">When did you visit?</label>
                            <input type="text" name="date" id="date" placeholder="January, 20th, 2014" class="form-control">
                        </div>







                        <button type="submit">Add City</button>

                    </form>

                    <form action='/delete_places' method='post'>
                        <button type='submit'>Delete Place List</button>
                    </form>
                </div>
            </div>

        </div>
    </body>
</html>
